html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

canvas {
    display: block;
}
  
p {
    font-size: 12px;
    /* margin: 5px; */
    /* margin: 0; */
    color:rgb(54,54,54);
}

p.dateNum {
    margin: 1px;
    padding-top:10px
}

p.cBottom {
    margin-bottom: 0;

}
  

.perc-vax-demo{
  margin-left: auto;
  font-size: 14px;
  }

a:link {
    color: #4da6ff;
}

a:visited {
    color: #4da6ff;
}

a:hover {
    color: #4da6ff;
    cursor: pointer;
}
