html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

canvas {
    display: block;
}
  
p {
    font-size: 12px;
    color:rgb(54,54,54);
}

p.dateNum {
    margin: 1px;
    padding-top:10px
}

p.cBottom {
    margin-bottom: 0;

}
  

.epi-date{
  margin-left: auto;
  font-size: 14px;
  }
