html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

canvas {
    display: block;
}
  
p {
    font-size: 12px;
    /* margin: 5px; */
    /* margin: 0; */

}

p.dateNum {
    margin: 1px;
}

p.cBottom {
    margin-bottom: 0;

}
  
h1 {
    padding-top: 5px;
    margin: 0;
    /* padding: 0px 10px 10px 5px; */
    font-size: 20px;
    text-align: center;

}
  
h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h3 {
    margin: 0;
    padding-bottom: 5px;
}
  
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    /* border-bottom: 3px solid rgba(26, 25, 25, 0.9); */
    /* grid-auto-rows: minmax(180, 250); */
}
  
.grid-item {
    padding: 1px;
    color: black;
    text-align: center;
}

.border-style {
    border-bottom: 3px solid rgba(26, 25, 25, 0.9);
    

}
  
p.info {
      font-size: 14px;
      text-align: left;
      font-weight: 300;
}

#caseRate,
#admissionsPer100,
#bedsOccupied {
    color: black;
}
  
#caseRateDate, 
#bedOccupancyDate, 
#herdsLastUpdatedDate,
.date-indicator {
    padding-top: 5px;
    color:rgb(85,85,85);
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}


#caseRateStatus,
#admissionsPer100Status,
#bedsOccupiedStatus {
    text-align: center;
    color:rgb(41, 40, 40);
    font-size: 15px;
    padding-bottom: 10px;
}
.comparison-copy {
    color:rgb(85,85,85);
    font-size: 13px;
}

.date-indicator{
    margin: 0;
    display: flex;
    flex-direction: row;
    /* align-self: flex-end;
    justify-content: flex-start; */
    /* width:100%; */
    }

.link-id{
    margin-left: auto;
    color: #378ce0;
  }

  a:link {
    color: #378ce0;
    text-decoration: none;
  }
  /* visited link */
  a:visited {
    color: #378ce0;
  }
  /* mouse over link */
  a:hover {
    color:#378ce0;
    text-decoration: underline;
  }
  /* selected link */
  a:active {
    color:#378ce0;
  }