html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

canvas {
    display: block;
}
  
p {
    font-size: 18px;
    /* margin: 5px; */
    /* margin: 0; */

}

p.dateNum {
    margin: 1px;
    float: left;
}

p.dateNum2 {
    margin: 1px;
    float: right;
}

p.cBottom {
    margin-bottom: 0;

}
  
  

#diagnosisDate {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
	font-style: italic;
	
}

#prodDate {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
	font-style: italic;
	
}

.total-case-date {
    margin-left: auto;
	font-size: 13px;
	content: "";
	display: table;
	clear: both;
  }
