            .accessibleTable {
                display: block;
            }

            .hide {
                display: none;
            }



            html {
                scroll-behavior: smooth;
            }

            .notetext {
                font-size: 10px;
                color: #191919;
                font-style: italic;
            }

            .smallmultiple {
                margin-top: 20px;
                border-left: 3px solid #cccccc;
                border-radius: 3px;
                padding-left: 2px;
            }

            .inpagenav {
                font-size: 12px !important;
                margin-top: 20px !important;
                margin-bottom: 60px!important;
                padding-top: 5px;
                padding-bottom: 5px;
                display: flex;
                justify-content: flex-end;
                border-top: 1px solid gray;
            }

            .alertbox {
                background-color: #f0f0f0;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }


            .aboutbox {
                background-color: #f0f0f0;
                padding: 10px;
                margin-bottom: 25px;
            }

            /* use this class to position elements off-screen so that only screen readers encounter them*/
            .sronly {
                position: absolute;
                left: -9999px;
            }

            /* use aria-hidden="true" for visual-only (non-screen reader) elements */


            label {
                display: inline-block !important;
                font-weight: normal;
                vertical-align: text-top;
            }


            /* Start - classes for the topline data page buttons*/
            .xbutton {
                display: inline-block;
                padding: 10px 5px;
                font-family: helvetica;
                text-decoration: none;
                margin-bottom: 30px;
            }

            .xbutton-milestone {
                background-color: #ffffff;
                border-bottom: 5px solid #a8a8a8;
                color: #006f93;
            }

            .xbutton-milestone:hover {
                background-color: #dcdcdc;
            }

            .xbutton-active {
                background-color: #ccb1d1;
                color: #161616 !important;
                font-weight: bold;
                border-bottom: 5px solid #803D8D;
            }

            .xbutton-active:hover {
                background-color: #c2a1c8;
            }

            .xbutton-inactive {
                background-color: #f9f9f9;
                border-bottom: 5px solid #6e6e6e;
                color: #006f93;
            }

            .xbutton-inactive:hover {
                background-color: #dcdcdc;
            }

            /* End - classes for the topline data page buttons*/


            .chartwrap {
                margin-top: 65px;
            }

            /* use this for radio-button chart selectors*/
            .choice {
                padding: 10px 10px 10px 0px;
                border-top: 5px solid #c0c0c0;
            }

            /*for toggler buttons */
            .togglebutton {
                font-size: 16;
                padding: 2px 6px;
                border-radius: 5px;
                font-weight: 400;
                background-color: #eeeeee;
                color: #696969 !important;
                box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0, 07);
                cursor: pointer;
                display: inline-block;

            }

            .togglebutton:hover {
                background-color: #bce3ff;
                text-decoration: none;
            }


            .highlight {
                background-color: #429ddd !important;
                color: #ffffff !important;
                font-weight: 550;
            }

            .boroughs {
                float: right;
                background: #ccb1d1;
                color: #3f3f3f !important;
            }

            .boroughs:hover {
                color: #2c2c2c;
                background: #803D8D;
                color: #ffffff !important;
            }

            .msbtn {
                display: inline-block;
                background-color: #f9f9f9;
                text-decoration: none !important;
                padding: 20px 15px;
                margin-right: 10px;
                margin: 10px 0px;
                font-family: helvetica;
                border: 0px;
                cursor: pointer;
                font-size: 16px;
                box-shadow: 2px 2px 2px #dcdcdc;
            }

            .msbtn-on {
                background-color: #0a5796;
                color: white;
                font-style: bold;
                text-decoration: none !important;
            }

            .msbtn:hover {
                background-color: #dcdcdc;
            }

            .msbtn-on:hover {
                background-color: #0a5796;
            }

            table, th, td {
                text-align: left;
                width: 100%;
                padding: 7px;
            }

            #boroughstable {
                padding: 0px!important;
                background-color: #fafafa;
            }

            #boroughstable th {
                font-size: 14px;
                font-weight: normal;
            }

            #boroughstable td {
                font-weight: bold;
            }

            .low {
                background-color: #1D8AFF;
                color: white;
            }

            .moderate {
            background-color: #FFF70E;
            color: black; 
            }

            .substantial {
                background-color: #FF7134;
                color: white;
            }

            .high {
                background-color: #FF0000;
                color: white;
            }

            .sm {
                font-size: 12px;
            }

            #chartDest {
                height: 300px;
                width: 100%;
                fill: transparent;
                stroke: transparent !important;
                }

            .submissionButton {
                width: 19%;
                background-color: #c2c2c2;
                color: black;
                font-weight: bold;
                height: 39px;
                border: 0;
                padding-top: -1px;
            }

            .vg-tooltip {
                width: 200px!important;
            }